<% layout('layouts/boilerplate')%>
    <div class="header">
        <div class="swipe">
            <div class="panel" data-img="../images/banner.png">
                <div class="main-text">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="header-text ">
                                    <h1 class="text-white">Authentic Taste, <span class="text-warning">Immersive
                                            Experience</span>
                                    </h1>
                                    <p class="text-white">An encounter everyone will remember.</p>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row row-cols-12">
        <div class="col-2">
            <img class="img-responsive" src="images/DSC04579 (1).png">
        </div>
        <div class="col-2">
            <img class="img-responsive" src="images/DSC04539.png">
        </div>
        <div class="col-2">
            <img class="img-responsive" src="images/DSC04430 (1).png">
        </div>
        <div class="col-2">
            <img class="img-responsive border border-white border-3" src="images/curry.jfif" width="311" height="830">
        </div>
        <div class="col-2">
            <img class="img-responsive border border-white border-3" src="images/drink.jfif" width="311" height="830">
        </div>
        <div class="col-2">
            <img class="img-responsive border border-white border-3" src="images/DSC04149.jpg" width="311" height="830">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 event-1 border border-white border-3"></div>
        <div class="col-md-6 event-2 border border-white border-3"></div>
    </div>
    <div class="gallery"></div>
    
    <div class="adress-code">
        <h5 class="text-center indo">Elite Indo-Pak</h5>
        <div class="container">
           <div class="row">
              <div class="col-md-4">
                 <div class="location">
                    <div class="row">
                       <div class="col-md-2 map">
                          <i class="fa fa-map-marker text-white" aria-hidden="true"></i>
                       </div>
                       <div class="col-md-10">
                          <p class="text-white"><span class="indo">ADRESS</span><br>Elite Indo-Pak Restaurant
                             11941 Hwy 6 South,Building #1
                             Sugarland Tx 77498</p>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="location">
                    <div class="row">
                       <div class="col-md-2 map">
                          <i class="fa fa-phone text-white" aria-hidden="true"></i>
                       </div>
                       <div class="col-md-10">
                          <p class="text-white"><span class="indo">TELEPHONE</span><br><a href="tel:2819574100"
                                class="link_set">(281) 957-4100</a></p>
                       </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-4">
                 <div class="location">
                    <div class="row">
                       <div class="col-md-2 map">
                          <i class="fa fa-envelope text-white" aria-hidden="true"></i>
                       </div>
                       <div class="col-md-10">
                          <p class="text-white"><span class="indo">EMAIL</span><br><a class="link_set"
                                href="mailto:info@eliteindopak.com"> INFO@ELITEINDOPAK.COM</a></p>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>