<% layout('layouts/boilerplate')%>
    <!-- <h1 class="text-white text-center">Login</h1>
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-10 col-md-8 col-lg-5">
            <form action="/login" method="POST" class="validated-form" novalidate>
                <div class="mb-3 text-white">
                    <label class="form-label" for="username">Username</label>
                    <input class="form-control" type="text" id="username" name="username" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3 text-white">
                    <label class="form-label" for="password">Password</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <input type="checkbox" class="my-3" onclick="myFunction()">Show Password
                </div>
                <button class="btn btn-success mt-1">Login</button>
            </form>
        </div>
    </div> -->
    <form action="/login" method="POST" class="validated-form text-white text-center form-entry" novalidate>
        <h2 class="mb-3">User Login</h1>
            <div class="mb-3 text-white">
                <input class="form-control" type="text" id="username" name="username" placeholder="Enter username"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3 text-white">
                <input class="form-control" type="password" id="password" name="password" placeholder="Enter password"
                    required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <input type="checkbox" class="my-3" onclick="myFunction()">Show Password
            </div>
            <button class="btn btn-success btn-block border-0 fs-5 fw-bold">Login</button>
    </form>